*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
#navbarlogo{
    margin: 20px 0px 20px 0px;
    height: 33px;
    weight: 33px;
}
#navbarlogotext{
    margin:5px;
    font-weight: 600;
    font-size: 25px;
    color:white;
    display: inline-block;
}
.navbar{
    background-color: black;
     height: 90px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.navbar-container{
    display: flex;
    justify-content:space-between;
    
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
   
}
.navbar-opts-1{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.navbar-opts-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.opt-sec1{
   
    display: flex;
    justify-content:space-between;
    margin-right: 60px;
    list-style: none;
    font-weight:300;
}
.opt-sec2{
    display: flex;
    justify-content:space-between;
    align-items: center; 
    list-style: none;
    font-weight:300;
}
.opt-sec2-li {
    padding:5px 5px;
    height:40px;
    display: flex; 
    align-items: center; 
  
}
.opt-sec1-item{
   
    width: 150px;
    padding:0 15px;
    text-decoration: none;
    color:white;
}
.opt-sec2-item{
    width:120px; 
    font-size:14px;
    font-weight:400;
    padding:0 10px;
    text-decoration: none;
    color:white;
}
#web-logo{
    height: 20px;
    weight: 20px;
}
.profile-menue{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 5px;
    height:44px;
    width:80px;
    background-color:white;
    border-radius:22px;
    margin:0 0px 0px 10px;
}
.profile-icon{
   
    height: 30px;
    width: 30px;
}
.hamburger-menue{
    margin-left:8px;
    height: 13px;
    width: 13px;
}
/* navbar on hover effects */
.opt-sec2-li:hover{
   
    height:38px;
    background-color:rgba(153, 152, 152, 0.363);
    border-radius: 25px;
}


/* search box */
.blackbackground{
    padding:0 80px;
    background-color:black;
    display: flex; 
    justify-content: center;
}
.search-bar-container{
    border-radius:32px;
    background-color:white;
    height:64px;
    width:848px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-shrink: 1;
}

.search-subbar-1{
   width:270px;
    display: flex;
    flex-direction:column;
    padding:14px 32px;
    flex-shrink: 1;
}

.search-subbar-2{
    width:175px;
     display: flex;
     flex-direction:column;
     padding:14px 32px;
     flex-shrink: 1;
 }
.search-maintxt{
   font-size:13px;
   font-weight: 600;

}
.search-subtxt{
    margin-top: 3px;
    font-size:15px;
    font-weight:300;
    color:grey;
}
.search-subbar-button{
   width:250px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 30px;
    height:100%;
    flex-shrink: 1;
}
.search-subbar-button img{
   margin-right: 5px;
    padding: 0;
    height:50px;
    width: 50px;
}
.divison{
    height:30px;
    width: 1px;
    border-radius:0.5px;
    background-color:grey;
}

/* searchbar animation effects */
.search-subbar-1:hover{
    background-color:rgb(223, 223, 223);
    border-radius:32px;  
}

.search-subbar-2:hover{
    background-color:rgb(223, 223, 223);
    border-radius:32px; 
}

.search-subbar-button:hover{
    background-color:rgb(223, 223, 223);
    border-radius:30px; 
}

/* responsive navbar */
@media(max-width:1100px ){ 
    #navbarlogotext{
        display:none;
    }
    .navbar-container{
        padding:0 30px;
    }
}
@media(max-width:920px ) {
    #navbarlogotext{
        display:none;
    }
    .navbar-container{
        padding:0 30px;
    }
    .navbar-opts-1{
        position: absolute;
        margin-top: 80px;
        margin-left:15vw ;
    }
    .search-bar-container{
        margin-top:50px;
        width:90vw ;
    }
    .search-subbar-1{
       
        width:20vw;
    }
    .search-subbar-2{
        width:20vw;
    }
    .search-subtxt{
      
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
   
}